<% if logged_in? %>
  <%= form_with(model: @item) do |f| %>
    <div class="text-center">
      <%= f.text_field :name, placeholder: "食材名を入力してください", class: "form-control" %>
    </div>
    <div class="text-center">
      <%= f.select :syumoku_id, [["葉野菜(2日間",1], ["根菜(7日間)",2],["トマト(6日間)",3],["キノコ(3日間)",4],["卵(7日間)",5],["納豆(7日間)",6],["牛乳(5日間)",7],["肉(2日間)",8],["魚(2日間",9],["その他加工食品(5日間",10]], {include_blank:"種目を選択してください"},{class: "form-select"} %>
    </div> 
    <div class="text-center">
      <%= f.submit '登録', class: 'btn btn-primary w-100' %>
    </div>
  <% end %>
  <%= render 'items/items', items: @items %>
</div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the 賞味期限</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>